@font-face {
    font-family: myfont;
    src: url('../fonts/light.otf');
}
.head2{
	font-family: 'Bree Serif', serif;
	font-size: 46px;
	color: #222222;
}
.paragraph_text{
			font-family: 'Varela Round', sans-serif;
			font-weight: 100;
			color: #666666;	
			font-size: 18px;
}
.hero{
	height: 750px;
	background: url('../images/background/hero.jpg');
	background-size: cover;}
	@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.hero{
			height: 567px;
		}
	}

.profile{
}
	.profile_content{
		text-align: left;
		width: 50%;
		margin: 0 auto;
		padding: 5% 0 8% 0;}
		@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
			.profile_content{
				width:80%;
				padding: 10% 0;}}
		.profile_content .head2{
			text-align: center;
		}

.projects ul li{
	list-style: none;}
	.projects span{
		float: left;
		padding: 0;
		margin: 0;
		background: #00ca85;
		height: 500px;}
		@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
			.projects span{
				height: 350px;
			}
		}

.page1{
	height: 100%;
	background:#f50000;
}
.page2{
	height: 100%;
	background:#f50330;
}
