@font-face {
    font-family: myfont;
    src: url('../fonts/light.otf');
}
@font-face {
    font-family: myfont2;
    src: url('../fonts/medium.otf');
}
.head2{
	margin: 0;
	padding:0;
	font-family: 'Bree Serif', serif;
	font-size: 50px;
	color: #222222;}
.paragraph_text{
	font-family: 'myfont', sans-serif;
	font-weight: 100;
	color: #222222;	
	font-size: 18px;}
.head4{
	margin: 0;
	padding:0;
	font-family: 'myfont', sans-serif;
	font-weight: 100;
	color: #ffffff;
	position: relative;	
	font-size: 30px;}
.head12{
	margin: 0;
	padding:0;
	padding-top: 7px;
	font-family: 'myfont',sans-serif;
	position: relative;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
	color: #ffffff;
}

.head14{
	padding-top: 50px;
	font-family: 'myfont',sans-serif;
	font-size: 14px;
}

.button{
	text-decoration: none;
	font-family: 'myfont2', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 20px;
	position: relative;
	padding: 10px 20px;
	z-index: 3;
	-webkit-transition:.2s background linear,.2s color linear ;
	transition:.2s background linear,.2s color linear ;}
	.button:hover{
		background: #ffffff;
		color:#222222;
	}

.fade.ng-enter {
  	-webkit-transition:.5s linear all;
  	transition:.5s linear all;
  	opacity:0;}
	.fade.ng-enter.ng-leave-active {
	  opacity:1;}
.fade.ng-leave {
  	-webkit-transition:.5s linear all;
	transition:.5s linear all;
  	opacity:1;}
	.fade.ng-leave.ng-leave-active {
 	 opacity:0;}

.hero{
	height: 750px;
	background: url('../images/background/hero.jpg');
	background-size: cover;}
	@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.hero{
			height: 567px;}}

.profile{
}
	.profile_content{
		width: 50%;
		margin: 0 auto;
		padding: 5% 0 8% 0;}
		.profile_content .paragraph_text{
			line-height:30px;
			text-align: left;}
		.profile_content .head2{
			text-align: center;}
		.profile_content .paragraph_text:first-child{
			font-size: 50px;
			text-align: justify;}
		@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
			.profile_content{
				width:80%;
				padding: 10% 0;}
			.profile_content .paragraph_text{
				line-height:25px;
				text-align: left;
				font-size: 18px;}}

.projects{

	}
	.projects span{
		float: left;
		padding: 0;
		margin: 0;
		height: 500px;}
		
		@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
			.projects span{
				height: 350px;
				width: 100%}}

		.projects span .overlay{
			position: absolute;
			opacity: 0;
			height: 100%;
			width: 100%;	
			top: 0;
			left: 0;
			background: #000000;
			-webkit-transition: opacity .3s linear;
			transition: opacity .3s linear;}

			@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
				.projects span .overlay{
					opacity: .5;}}

		.projects span:hover .overlay{
			opacity: .7}

		.projects span .content{
			text-align: center;
			width: 100%;
			opacity: 0;
			z-index: 2;
			margin:10% auto
			-webkit-transition: opacity .3s linear;
			transition: opacity .3s linear;}

			.projects span:hover .content{
				opacity: 1;}

			@media screen and (min-device-width : 320px) and (max-device-width : 480px)  {
				.projects span .content{
					opacity: 1;}}

				.projects span .content .head4{
					margin-top: 25%;
				}
				.projects span .content .button{
					top:50px;
				}

		
		.project_content{
			background: url('../images/story/1.jpg');
			background-size: cover;}
		.project_content2{
		background: url('../images/story/2.jpg');
		background-size: cover;}

.contact{
	text-align: center;}
	.contact h2{
		padding-top: 8%;
	}

.footer{
	background: #efefef;
	}
	.footer span{
		text-align: center;
	}

	.social{
		padding-top: 15%;
		display: block;
		height: 125px;	
		text-align: center;
	}

	.social ul{
		margin: 0 auto;
		display: block;
		width: 50%;
	}

	.social ul li{
		display: inline-table;
		padding-left: 5%;
	}
	.social ul li:first-child{
		padding-left: 0;
	}
	.twitter{
		display: block;
		background: url('../images/icons/twitter.png') no-repeat center;
		height: 30px;
		width: 30px;
		background-size: cover;}
	.behance{
		display: block;
		background: url('../images/icons/behance.png') no-repeat center;
		height: 30px;
		width: 30px;
		background-size: cover;}
	.fb{
		display: block;
		background: url('../images/icons/fb.png') no-repeat center;
		height: 30px;
		width: 30px;
		background-size: cover;}
	.linkedin{
		display: block;
		background: url('../images/icons/linkedin.png') no-repeat center;
		height: 30px;
		width: 30px;
		background-size: cover;}
