<section class="hero row">
      <div class="signature"></div>
        <h2 class="head2_white">I design & build User Interfaces</h2>
</section>
  <section class="profile row">
    <div class="profile_content">
      <h2 class="head2">Passion for style</h2>
      <p class="paragraph_text">Designer & Art Director, working in the interactive design business for the past 13 years. Blending the practices of Brand, Web and UI design. Currently working at inUse, I create appealing products that enhance brands, grow businesses and that people love to use. All with a holistic approach, craft detail and conceptual thinking.</p>
      <p class="paragraph_text">Specialities: Digital Design, Web Design, Mobile Design, UI Design, UX Design, Style Guides, Concept and Idea Development.
      </p>
    </div>
  </section>
  <section class="projects row">
        <span class="col-xs-12 col-md-6 project_content ">
          <div class="overlay"></div>
          <div class="content">
            <h2 class="head4">Designing Experience for Campus Placements</h2>
            <h4 class="head12">WEB-PRODUCT DESIGN</h4>
            <a class="button" href="#story">See Full Story</a>
          </div>
        </span>  
        <span class="col-xs-12 col-md-6 project_content2 ">
          <div class="overlay"></div>
          <div class="content">
            <h2 class="head4">Automating Doors and Gates</h2>
            <h4 class="head12">MOBILE APP-UX UI DESIGN</h4>
            <a class="button" href="#story">See Full Story</a>
          </div>
        </span> 


  </section>
  <section class="contact row">
    <h2 class="head2">Get in touch</h2>
    <p class="paragraph_text">Interested in my services and would like to talk? Don't hesitate to get in touch.</p>
    <a class="button_black" href="#story">SENT ME AN EMAIL</a>
  </section>
  <section class="footer row">
    <span class="col-md-4 col-md-offset-2">
      <p class="paragraph_text">Arunraj</p>
      <p class="paragraph_text">User Experience Designer</p>
    </span>  
    <span class="col-md-4"> 
      <p class="paragraph_text">arundsgn@gmail.com</p>
      <p class="paragraph_text">+91 9746514555</p>

    </span>
    <div class="social">
      <ul>
          <li><a class="twitter" href=""></a></li>
          <li><a class="fb" href=""></a></li>
          <li><a class="behance" href=""></a></li>
          <li><a class="linkedin" href=""></a></li>
          <li></li>
      </ul>
      <div class="head14">&copy; Arunraj | Made in Kochi </div>
    </div>
  </section>