<section class="hero row"></section>
  <section class="profile row">
    <div class="profile_content">
      <h2>Passion for style</h2>
      <p>Designer & Art Director, working in the interactive design business for the past 13 years. Blending the practices of Brand, Web and UI design. Currently working at inUse, I create appealing products that enhance brands, grow businesses and that people love to use. All with a holistic approach, craft detail and conceptual thinking.Specialities: Art Direction, Digital Design, Web Design, Mobile Design, UI Design, UX Design, Brand Direction, Style Guides, Concept and Idea Development.
      </p>
    </div>
  </section>
  <section class="projects row">
        <span class="col-xs-12 col-md-6 ">
          <a href="#story">See Full Story</a>

        </span>  

        <span class="col-xs-12 col-md-6 ">1</span> 


  </section>
  <section class="contact row">4</section>
  <section class="footer row">5</section>