<div class="row">
	<div class="navigation">
		<a href="#/"><div class="signature_blk"></div></a>
	</div>
	<div class="right_content">
		<section class="hero">
			<h2 class="head2_white">Designing experience for Campus Placements</h2>
		</section>
		<section class="storyitem_container_1">
			<div>
				<h2 class="head2">Clean. Simple. Elegant.</h2>
			</div>
			<div class="elegant">
			</div>
		</section>
		<section class="storyitem_container_2">
			<div>
				<h2 class="head2">Engaging Interactions and maybe even fun.</h2>
			</div>
			<div><div class="engaging"></div></div>
			
		</section>
		<section class="storyitem_container_3">
			<div>
				<h2 class="head2">Data visualizations</h2>
			</div><!-- 
			<div class="profile_screen"></div> -->
			<div class="graph_screen"></div>
		</section>
		<section class="storyitem_container_4">
				<a class="button_black" href="#story" style="margin: 10% auto;">READ MORE ON MEDIUM</a>
		</section>
	</div>
</div>
